In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path
from scipy import stats
import math
from datetime import datetime

merged_df = pd.DataFrame()
#merged_df = merged_df.drop(columns=merged_df.columns)

merged_df.head()

Empty DataFrame
Columns: []
Index: []

In [2]:
# Define column names including some empty columns
column_names = ['ride_id', 'rideable_type', 'started_at', 'ended_at','start_station_name','start_station_id','end_station_name','end_station_id','start_lat','start_lng', 'end_lat','_end_lng','member_casual']

# Create an empty DataFrame with specified column names
merged_df = pd.DataFrame(columns=column_names)

merged_df.head()

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, _end_lng, member_casual]
Index: []

In [3]:

# Create paths to the csv files and read files into Pandas DataFrame
csv_path = Path("2023-citibike-tripdata/6_June/202306-citibike-tripdata_1.csv")
june01_df = pd.read_csv(csv_path)
june01_df.head()

C:\Users\chris\AppData\Local\Temp\ipykernel_42160\2572904935.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june01_df = pd.read_csv(csv_path)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,984F50BCBC76DD9A,classic_bike,2023-06-11 06:54:21,2023-06-11 07:12:28,W 84 St & Columbus Ave,7382.04,Amsterdam Ave & W 125 St,7800.03,40.785000,-73.972834,40.813358,-73.956461,member
1,03E3D62E7FB76B05,classic_bike,2023-06-19 15:23:11,2023-06-19 16:00:05,E 89 St & York Ave,7204.08,Mott St & Prince St,5561.04,40.777958,-73.945928,40.723180,-73.994800,member
2,8E7EE421A0B8BBF3,classic_bike,2023-06-06 16:07:05,2023-06-06 16:15:14,E 51 St & 2 Ave,6575.03,E 25 St & 1 Ave,6004.07,40.755357,-73.967489,40.738177,-73.977387,member
3,24D66A0C46493CB1,classic_bike,2023-06-26 19:52:23,2023-06-26 19:55:47,India St Pier,5794.05,Franklin St & Dupont St,5944.01,40.731735,-73.961239,40.735640,-73.958660,member
4,E944882A074B8F61,classic_bike,2023-06-05 08:57:57,2023-06-05 09:13:36,E 47 St & 2 Ave,6498.1,5 Ave & E 29 St,6248.06,40.753231,-73.970325,40.745168,-73.986831,member

In [4]:
# Create paths to the csv files and read files into Pandas DataFrame
csv_path = Path("2023-citibike-tripdata/6_June/202306-citibike-tripdata_2.csv")
june02_df = pd.read_csv(csv_path)
june02_df.head()

C:\Users\chris\AppData\Local\Temp\ipykernel_42160\1528611073.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june02_df = pd.read_csv(csv_path)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,03B8F241A6495F26,classic_bike,2023-06-05 10:07:24,2023-06-05 10:33:48,Willoughby Ave & Walworth St,4634.02,Fulton St & Broadway,5175.08,40.693317,-73.953820,40.711066,-74.009447,member
1,A065DBB482D97E5D,classic_bike,2023-06-04 21:16:30,2023-06-04 21:35:07,Lawrence St & Willoughby St,4596.09,Monroe St & Classon Ave,4336.01,40.692603,-73.985788,40.684568,-73.958811,member
2,EE9CF9256A550A7B,classic_bike,2023-06-18 11:55:23,2023-06-18 11:58:46,William St & Pine St,5065.12,Fulton St & Broadway,5175.08,40.707179,-74.008873,40.711066,-74.009447,member
3,6199E5823869F8D1,classic_bike,2023-06-20 16:57:46,2023-06-20 17:08:36,Lawrence St & Willoughby St,4596.09,Fulton St & Irving Pl,4263.12,40.692181,-73.986234,40.681860,-73.959432,member
4,B17C539851CCE5F6,classic_bike,2023-06-12 00:25:30,2023-06-12 01:01:11,72 St & 41 Ave,6258.03,Putnam Ave & Nostrand Ave,4327.09,40.744786,-73.893751,40.684020,-73.949770,member

In [5]:
# Create paths to the csv files and read files into Pandas DataFrame
csv_path = Path("2023-citibike-tripdata/6_June/202306-citibike-tripdata_3.csv")
june03_df = pd.read_csv(csv_path)
june03_df.head()

C:\Users\chris\AppData\Local\Temp\ipykernel_42160\2493363633.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june03_df = pd.read_csv(csv_path)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6607CF38A6F0961A,classic_bike,2023-06-06 00:28:36,2023-06-06 00:31:08,38 St & 30 Ave,6850.01,30 Ave & 47 St,6774.13,40.764175,-73.915840,40.761294,-73.909562,member
1,77D2F1772F8A4CBC,classic_bike,2023-06-29 17:09:32,2023-06-29 17:14:08,Lenox Ave & W 115 St,7627.10,Madison Ave & E 120 St,7667.04,40.801194,-73.950074,40.802950,-73.942954,member
2,5A6D12A88FA2F486,electric_bike,2023-06-14 15:43:55,2023-06-14 15:58:58,E 77 St & 3 Ave,7092.06,8 Ave & W 31 St,6450.05,40.773142,-73.958562,40.750585,-73.994685,member
3,71A6B4FA88098BB4,classic_bike,2023-06-14 16:02:36,2023-06-14 16:31:50,E 156 & Brook Ave,7896.11,Westchester Ave & Southern Blvd,8004.03,40.819809,-73.912456,40.824956,-73.891677,member
4,323D351979C258E8,classic_bike,2023-06-09 20:05:07,2023-06-09 20:09:16,W 140 St & Riverside Dr,7981.27,Riverside Dr & W 148 St,8054.04,40.823787,-73.954881,40.829114,-73.950426,member

In [6]:
# Create paths to the csv files and read files into Pandas DataFrame
csv_path = Path("2023-citibike-tripdata/6_June/202306-citibike-tripdata_4.csv")
june04_df = pd.read_csv(csv_path)
june04_df.head()

C:\Users\chris\AppData\Local\Temp\ipykernel_42160\4106190950.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june04_df = pd.read_csv(csv_path)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2655F3E2C9E86A55,classic_bike,2023-06-09 12:39:30,2023-06-09 12:45:04,Washington Pl & 6 Ave,5838.09,University Pl & E 14 St,5905.14,40.732241,-74.000264,40.734814,-73.992085,member
1,12F69CF7CA67AD45,classic_bike,2023-06-09 13:02:28,2023-06-09 13:08:51,Washington Pl & 6 Ave,5838.09,University Pl & E 14 St,5905.14,40.732241,-74.000264,40.734814,-73.992085,member
2,76C4DB6C26A14B9D,classic_bike,2023-06-22 10:26:05,2023-06-22 10:30:33,Washington Pl & 6 Ave,5838.09,University Pl & E 14 St,5905.14,40.732253,-74.000264,40.734814,-73.992085,member
3,D1290B5BA20EA880,classic_bike,2023-06-05 08:46:14,2023-06-05 08:50:50,Washington Pl & 6 Ave,5838.09,University Pl & E 14 St,5905.14,40.732241,-74.000264,40.734814,-73.992085,member
4,572A3EAC4ECF821B,classic_bike,2023-06-22 14:39:16,2023-06-22 14:57:47,3 Ave & E 62 St,6762.04,University Pl & E 14 St,5905.14,40.763023,-73.965691,40.734814,-73.992085,member

In [7]:
# Create paths to the csv files and read files into Pandas DataFrame
csv_path = Path("2023-citibike-tripdata/12_December/202312-citibike-tripdata_1.csv")
december01_df = pd.read_csv(csv_path)
december01_df.head()

C:\Users\chris\AppData\Local\Temp\ipykernel_42160\2942510651.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  december01_df = pd.read_csv(csv_path)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FB18F431791D6F97,classic_bike,2023-12-07 12:40:22,2023-12-07 12:47:09,Allen St & Stanton St,5484.09,Carmine St & 6 Ave,5763.03,40.721818,-73.989172,40.730386,-74.002150,member
1,73DF56B794079C50,classic_bike,2023-12-29 13:47:27,2023-12-29 13:54:02,Carlton Ave & Dean St,4199.12,Union St & 4 Ave,4175.15,40.680974,-73.971010,40.677274,-73.982820,member
2,E3BA5AF851CC1CF0,classic_bike,2023-12-14 19:57:46,2023-12-14 20:15:12,W 84 St & Amsterdam Ave,7409.04,W 48 St & Rockefeller Plaza,6626.11,40.786249,-73.975446,40.757769,-73.979294,member
3,8F2CBCCB503B0398,electric_bike,2023-12-20 16:55:15,2023-12-20 17:04:03,E 85 St & York Ave,7146.04,Central Park West & W 85 St,7354.01,40.775369,-73.948034,40.784760,-73.969862,member
4,A28FFC9585DE8CC5,classic_bike,2023-12-30 14:43:15,2023-12-30 14:56:33,W 84 St & Amsterdam Ave,7409.04,E 58 St & 3 Ave,6762.02,40.786238,-73.975478,40.760958,-73.967245,member

In [8]:
# Create paths to the csv files and read files into Pandas DataFrame
csv_path = Path("2023-citibike-tripdata/12_December/202312-citibike-tripdata_2.csv")
december02_df = pd.read_csv(csv_path)
december02_df.head()

C:\Users\chris\AppData\Local\Temp\ipykernel_42160\7579708.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  december02_df = pd.read_csv(csv_path)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,026DACF714F9241D,classic_bike,2023-12-14 17:10:03,2023-12-14 17:39:17,Thompson St & Bleecker St,5721.07,W 52 St & 6 Ave,6740.01,40.728401,-73.999688,40.761330,-73.979820,member
1,63D5730DEE841DC3,classic_bike,2023-12-06 18:41:43,2023-12-06 18:45:06,Thompson St & Bleecker St,5721.07,Washington Pl & 6 Ave,5838.09,40.728401,-73.999688,40.732241,-74.000264,member
2,1DCBD11F03BC126C,classic_bike,2023-12-16 18:44:01,2023-12-16 18:56:44,Classon Ave & St Marks Ave,4074.14,7 St & 3 Ave,3996.01,40.676513,-73.959431,40.672603,-73.989830,member
3,A65D4582B861DF72,classic_bike,2023-12-21 18:43:17,2023-12-21 18:53:41,Classon Ave & St Marks Ave,4074.14,Hoyt St & Warren St,4330.09,40.676426,-73.959431,40.684355,-73.989016,member
4,B774FA3065FA8BC8,classic_bike,2023-12-12 21:06:59,2023-12-12 21:10:15,Thompson St & Bleecker St,5721.07,Washington Pl & 6 Ave,5838.09,40.728401,-73.999688,40.732241,-74.000264,member

In [9]:
# Create paths to the csv files and read files into Pandas DataFrame
csv_path = Path("2023-citibike-tripdata/12_December/202312-citibike-tripdata_3.csv")
december03_df = pd.read_csv(csv_path)
december03_df.head()

C:\Users\chris\AppData\Local\Temp\ipykernel_42160\326257283.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  december03_df = pd.read_csv(csv_path)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FB81AC70BBE6A468,classic_bike,2023-12-07 11:26:27,2023-12-07 11:29:54,6 Ave & W 34 St,6364.10,Broadway & W 38 St,6560.15,40.749656,-73.988212,40.752973,-73.987349,member
1,75B358491F447D9A,classic_bike,2023-12-05 05:52:13,2023-12-05 05:54:50,4 Ave & 3 St,4028.04,Douglass St & 4 Ave,4175.14,40.673746,-73.985649,40.679279,-73.981540,member
2,DBB3F24147152EDF,classic_bike,2023-12-05 12:07:08,2023-12-05 12:24:18,Park Circle & East Dr,3344.02,Sterling St & Bedford Ave,3665.06,40.651566,-73.972212,40.662706,-73.956912,casual
3,C3F0015643BA2AE7,classic_bike,2023-12-16 11:38:42,2023-12-16 12:03:35,Riverside Dr & W 91 St,7524.16,W 16 St & The High Line,6233.05,40.793421,-73.977041,40.743349,-74.006818,casual
4,5949386BEEA73393,classic_bike,2023-12-03 19:05:31,2023-12-03 19:19:55,Park Circle & East Dr,3344.02,Douglass St & 4 Ave,4175.14,40.651514,-73.972165,40.679279,-73.981540,casual

In [10]:
#Merge all data frames
merged_df = pd.concat([june01_df, june02_df, june03_df, june04_df, december01_df, december02_df, december03_df])

In [11]:
print(len(merged_df))

5833924

In [12]:
#Take 10% sample of 5.8M record file
sample_df = merged_df.sample(frac=0.1, random_state=1)  # random_state for reproducibility

In [13]:
print(sample_df)

                 ride_id  rideable_type           started_at  \
940729  DADDC6DD5D14364E   classic_bike  2023-12-15 16:05:27
96816   D1B1474923BE6E7F   classic_bike  2023-06-17 17:51:15
583758  089E5265F2C26040   classic_bike  2023-06-13 09:53:29
644942  FFFDF4BCFE8B9942   classic_bike  2023-12-10 17:03:03
90713   2DCF6429F7485E14   classic_bike  2023-06-13 14:48:22
...                  ...            ...                  ...
613619  A68EB83CE90675AD   classic_bike  2023-06-27 23:46:41
363823  6ECA9359F55B0689  electric_bike  2023-06-16 02:04:14
592323  09F3F378F006BCE1   classic_bike  2023-12-12 12:52:46
57936   1D6AE038CC40FAF8   classic_bike  2023-06-23 08:03:17
342985  CB5117D2144ABAC6   classic_bike  2023-12-14 11:47:30

                   ended_at          start_station_name start_station_id  \
940729  2023-12-15 16:19:44    Halsey St & Tompkins Ave          4319.07
96816   2023-06-17 17:58:51  21 St & Queens Plaza North          6471.02
583758  2023-06-13 09:54:26            W 44 St & 11 Ave          6756.05
644942  2023-12-10 17:07:20        E 18 St & Church Ave          3263.01
90713   2023-06-13 14:55:31      Melrose Ave & E 150 St          7879.01
...                     ...                         ...              ...
613619  2023-06-28 00:02:30     Allen St & Rivington St          5414.06
363823  2023-06-16 02:20:56             W 22 St & 8 Ave          6224.03
592323  2023-12-12 13:10:08         Crown St & Troy Ave          3751.05
57936   2023-06-23 08:11:27    Broadway & Kosciuszko St          4608.01
342985  2023-12-14 11:57:30       Grand Ave & Bergen St          4190.06

                end_station_name end_station_id  start_lat  start_lng  \
940729       Berkeley Pl & 7 Ave        4051.01  40.682418 -73.944079
96816        Vernon Blvd & 47 Rd        6212.08  40.753260 -73.943358
583758          W 44 St & 11 Ave        6756.05  40.762009 -73.996975
644942  Parkside Ave & Ocean Ave        3448.02  40.649580 -73.963160
90713      Bergen Ave & E 152 St        7858.02  40.816827 -73.917338
...                          ...            ...        ...        ...
613619  Banker St & Meserole Ave        5633.04  40.720247 -73.989989
363823     Little West St & 1 Pl        5001.08  40.744751 -73.999154
592323    Bedford Ave & Maple St        3625.04  40.665590 -73.937120
57936     Myrtle Ave & Marcy Ave        4707.03  40.693290 -73.928520
342985     Pacific St & Smith St        4446.03  40.678051 -73.962345

          end_lat    end_lng member_casual
940729  40.675147 -73.975232        member
96816   40.744907 -73.953457        casual
583758  40.762009 -73.996975        casual
644942  40.654850 -73.962170        member
90713   40.817166 -73.914737        member
...           ...        ...           ...
613619  40.726060 -73.956210        member
363823  40.705693 -74.016777        member
592323  40.660350 -73.956790        member
57936   40.695398 -73.949549        casual
342985  40.687881 -73.989393        member

[583392 rows x 13 columns]

In [14]:
#Check columns in dataframe
print(sample_df.columns)

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [16]:
#Identify number of rows per value of rideable_type   

# Count the number of rows for each unique 'rideable_type' value
rideable_type_counts = sample_df ['rideable_type'].value_counts()

# Display the unique values and their corresponding counts
print(rideable_type_counts)

rideable_type
classic_bike     537386
electric_bike     44554
docked_bike        1452
Name: count, dtype: int64

In [17]:
#Create new dataframe that has no rideable_type = docked
sample_filtered_df = sample_df[sample_df['rideable_type'] != 'docked_bike']
print(len(sample_filtered_df))

# Check number of rows for each 'rideable_type' value
rideable_type_counts = sample_filtered_df ['rideable_type'].value_counts()

# Display unique values and corresponding counts
print(rideable_type_counts)

581940
rideable_type
classic_bike     537386
electric_bike     44554
Name: count, dtype: int64

In [18]:
# Check number of rows for each 'rideable_type' value
rideable_type_counts = sample_filtered_df['rideable_type'].value_counts()

# Display unique values and corresponding counts
print(rideable_type_counts)

rideable_type
classic_bike     537386
electric_bike     44554
Name: count, dtype: int64

Run all subsequent operations on quarter_merged_filtered_df to speed up processing.
Delete files downloaded from Citibike website to clear memory.

In [19]:
print(sample_filtered_df.columns)
print(sample_filtered_df.dtypes)

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')
ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [20]:
# Convert 'started_at' column to datetime objects
sample_filtered_df['started_at'] = pd.to_datetime(sample_filtered_df['started_at'])

# Convert 'ended_at' column to datetime objects
sample_filtered_df['ended_at'] = pd.to_datetime(sample_filtered_df['ended_at'])

C:\Users\chris\AppData\Local\Temp\ipykernel_42160\2611496308.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_filtered_df['started_at'] = pd.to_datetime(sample_filtered_df['started_at'])
C:\Users\chris\AppData\Local\Temp\ipykernel_42160\2611496308.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_filtered_df['ended_at'] = pd.to_datetime(sample_filtered_df['ended_at'])

In [22]:
# Check data types of DataFrame to verify conversion
print(sample_filtered_df.dtypes)

# Print value and type of first element in 'started_at' and 'ended_at' columns
print(sample_filtered_df['started_at'][0])
print(type(sample_filtered_df['started_at'][0]))

print(sample_filtered_df['ended_at'][0])
print(type(sample_filtered_df['ended_at'][0]))

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object
0   2023-06-06 00:28:36
0   2023-06-09 12:39:30
Name: started_at, dtype: datetime64[ns]
<class 'pandas.core.series.Series'>
0   2023-06-06 00:31:08
0   2023-06-09 12:45:04
Name: ended_at, dtype: datetime64[ns]
<class 'pandas.core.series.Series'>

In [23]:
# Make a copy of the DataFrame
sample_filtered_df =sample_filtered_df.copy()

In [24]:
#Separate date and time from started_at	and ended_at

# Extract date component from 'started_at' column
sample_filtered_df['start_date'] = sample_filtered_df['started_at'].dt.date

# Extract time component from 'started_at' column
sample_filtered_df['start_time'] = sample_filtered_df['started_at'].dt.time

# Extract date component from 'ended_at' column
sample_filtered_df['end_date'] = sample_filtered_df['ended_at'].dt.date

# Extract time component from 'ended_at' column
sample_filtered_df['end_time'] = sample_filtered_df['ended_at'].dt.time

print(sample_filtered_df.dtypes)

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
start_date                    object
start_time                    object
end_date                      object
end_time                      object
dtype: object

In [25]:
sample_filtered_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time
940729,DADDC6DD5D14364E,classic_bike,2023-12-15 16:05:27,2023-12-15 16:19:44,Halsey St & Tompkins Ave,4319.07,Berkeley Pl & 7 Ave,4051.01,40.682418,-73.944079,40.675147,-73.975232,member,2023-12-15,16:05:27,2023-12-15,16:19:44
96816,D1B1474923BE6E7F,classic_bike,2023-06-17 17:51:15,2023-06-17 17:58:51,21 St & Queens Plaza North,6471.02,Vernon Blvd & 47 Rd,6212.08,40.753260,-73.943358,40.744907,-73.953457,casual,2023-06-17,17:51:15,2023-06-17,17:58:51
583758,089E5265F2C26040,classic_bike,2023-06-13 09:53:29,2023-06-13 09:54:26,W 44 St & 11 Ave,6756.05,W 44 St & 11 Ave,6756.05,40.762009,-73.996975,40.762009,-73.996975,casual,2023-06-13,09:53:29,2023-06-13,09:54:26
644942,FFFDF4BCFE8B9942,classic_bike,2023-12-10 17:03:03,2023-12-10 17:07:20,E 18 St & Church Ave,3263.01,Parkside Ave & Ocean Ave,3448.02,40.649580,-73.963160,40.654850,-73.962170,member,2023-12-10,17:03:03,2023-12-10,17:07:20
90713,2DCF6429F7485E14,classic_bike,2023-06-13 14:48:22,2023-06-13 14:55:31,Melrose Ave & E 150 St,7879.01,Bergen Ave & E 152 St,7858.02,40.816827,-73.917338,40.817166,-73.914737,member,2023-06-13,14:48:22,2023-06-13,14:55:31

In [26]:
# Accessing month from start_date
sample_filtered_df['ride_month'] = sample_filtered_df['start_date'].apply(lambda x: x.month)

# Convert start_date string to datetime object
sample_filtered_df['start_date'] = pd.to_datetime(sample_filtered_df['start_date'])

# Get days of week as integers (Monday is 0, Sunday is 6) for first row
sample_filtered_df['ride_day'] = sample_filtered_df['start_date'].dt.dayofweek

# Display new DataFrame columns
print(sample_filtered_df[['start_date', 'start_time', 'ride_month', 'ride_day']])

       start_date start_time  ride_month  ride_day
940729 2023-12-15   16:05:27          12         4
96816  2023-06-17   17:51:15           6         5
583758 2023-06-13   09:53:29           6         1
644942 2023-12-10   17:03:03          12         6
90713  2023-06-13   14:48:22           6         1
...           ...        ...         ...       ...
613619 2023-06-27   23:46:41           6         1
363823 2023-06-16   02:04:14           6         4
592323 2023-12-12   12:52:46          12         1
57936  2023-06-23   08:03:17           6         4
342985 2023-12-14   11:47:30          12         3

[581940 rows x 4 columns]

In [29]:
# Calculate time elapsed between start and end time columns
#To calculate duration between two time values, convert time values to datetime.datetime

# Convert 'start_time' and 'end_time' columns to datetime objects
sample_filtered_df['start_datetime'] = pd.to_datetime(sample_filtered_df['start_time'], format='%H:%M:%S')
sample_filtered_df['end_datetime'] = pd.to_datetime(sample_filtered_df['end_time'], format='%H:%M:%S')

# Calculate duration in seconds between 'start_time' and 'end_time'
sample_filtered_df['duration_seconds'] = (sample_filtered_df['end_datetime'] - sample_filtered_df['start_datetime']).dt.total_seconds()

# Display DataFrame with duration_seconds column
print(sample_filtered_df.head())

                 ride_id rideable_type          started_at  \
940729  DADDC6DD5D14364E  classic_bike 2023-12-15 16:05:27
96816   D1B1474923BE6E7F  classic_bike 2023-06-17 17:51:15
583758  089E5265F2C26040  classic_bike 2023-06-13 09:53:29
644942  FFFDF4BCFE8B9942  classic_bike 2023-12-10 17:03:03
90713   2DCF6429F7485E14  classic_bike 2023-06-13 14:48:22

                  ended_at          start_station_name start_station_id  \
940729 2023-12-15 16:19:44    Halsey St & Tompkins Ave          4319.07
96816  2023-06-17 17:58:51  21 St & Queens Plaza North          6471.02
583758 2023-06-13 09:54:26            W 44 St & 11 Ave          6756.05
644942 2023-12-10 17:07:20        E 18 St & Church Ave          3263.01
90713  2023-06-13 14:55:31      Melrose Ave & E 150 St          7879.01

                end_station_name end_station_id  start_lat  start_lng  ...  \
940729       Berkeley Pl & 7 Ave        4051.01  40.682418 -73.944079  ...
96816        Vernon Blvd & 47 Rd        6212.08  40.753260 -73.943358  ...
583758          W 44 St & 11 Ave        6756.05  40.762009 -73.996975  ...
644942  Parkside Ave & Ocean Ave        3448.02  40.649580 -73.963160  ...
90713      Bergen Ave & E 152 St        7858.02  40.816827 -73.917338  ...

        member_casual  start_date start_time    end_date  end_time ride_month  \
940729         member  2023-12-15   16:05:27  2023-12-15  16:19:44         12
96816          casual  2023-06-17   17:51:15  2023-06-17  17:58:51          6
583758         casual  2023-06-13   09:53:29  2023-06-13  09:54:26          6
644942         member  2023-12-10   17:03:03  2023-12-10  17:07:20         12
90713          member  2023-06-13   14:48:22  2023-06-13  14:55:31          6

       ride_day      start_datetime        end_datetime duration_seconds
940729        4 1900-01-01 16:05:27 1900-01-01 16:19:44            857.0
96816         5 1900-01-01 17:51:15 1900-01-01 17:58:51            456.0
583758        1 1900-01-01 09:53:29 1900-01-01 09:54:26             57.0
644942        6 1900-01-01 17:03:03 1900-01-01 17:07:20            257.0
90713         1 1900-01-01 14:48:22 1900-01-01 14:55:31            429.0

[5 rows x 22 columns]

In [30]:
# https://chat.openai.com/
# haversine_distance function expects scalar values (floats) for lat and lng, but it's receiving pandas Series objects
# Apply function element-wise to each row of DataFrame by using apply() method along with axis parameter set to 1

#Calculate distance, in km, between start and end points
def haversine_distance(row):
   
    # Convert decimal degrees to radians
    lat1, lng1 = math.radians(row['start_lat']), math.radians(row['start_lng'])
    lat2, lng2 = math.radians(row['end_lat']), math.radians(row['end_lng'])

    # Haversine formula
    dlon = lng2 - lng1
    dlat = lat2 - lat1
    a = math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    # Radius of Earth in kilometers
    R = 6371.0
    distance = R * c
    return distance

#Caculate distance with haversine_distance function
sample_filtered_df['distance']=sample_filtered_df.apply(haversine_distance, axis = 1)

# Display the DataFrame
sample_filtered_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,start_date,start_time,end_date,end_time,ride_month,ride_day,start_datetime,end_datetime,duration_seconds,distance
940729,DADDC6DD5D14364E,classic_bike,2023-12-15 16:05:27,2023-12-15 16:19:44,Halsey St & Tompkins Ave,4319.07,Berkeley Pl & 7 Ave,4051.01,40.682418,-73.944079,...,2023-12-15,16:05:27,2023-12-15,16:19:44,12,4,1900-01-01 16:05:27,1900-01-01 16:19:44,857.0,2.748679
96816,D1B1474923BE6E7F,classic_bike,2023-06-17 17:51:15,2023-06-17 17:58:51,21 St & Queens Plaza North,6471.02,Vernon Blvd & 47 Rd,6212.08,40.753260,-73.943358,...,2023-06-17,17:51:15,2023-06-17,17:58:51,6,5,1900-01-01 17:51:15,1900-01-01 17:58:51,456.0,1.259552
583758,089E5265F2C26040,classic_bike,2023-06-13 09:53:29,2023-06-13 09:54:26,W 44 St & 11 Ave,6756.05,W 44 St & 11 Ave,6756.05,40.762009,-73.996975,...,2023-06-13,09:53:29,2023-06-13,09:54:26,6,1,1900-01-01 09:53:29,1900-01-01 09:54:26,57.0,0.000000
644942,FFFDF4BCFE8B9942,classic_bike,2023-12-10 17:03:03,2023-12-10 17:07:20,E 18 St & Church Ave,3263.01,Parkside Ave & Ocean Ave,3448.02,40.649580,-73.963160,...,2023-12-10,17:03:03,2023-12-10,17:07:20,12,6,1900-01-01 17:03:03,1900-01-01 17:07:20,257.0,0.591919
90713,2DCF6429F7485E14,classic_bike,2023-06-13 14:48:22,2023-06-13 14:55:31,Melrose Ave & E 150 St,7879.01,Bergen Ave & E 152 St,7858.02,40.816827,-73.917338,...,2023-06-13,14:48:22,2023-06-13,14:55:31,6,1,1900-01-01 14:48:22,1900-01-01 14:55:31,429.0,0.222103

Use t-test to determine whether average trip distance values and average trip duration values for casual versus member riders are statistically significant 

Hypotheses:
Null Hypothesis (H0): There is no difference between average distance/duration values for casual and member riders
Alternative Hypothesis (H1): There is a difference between average distance/duration values for casual and member riders

https://chat.openai.com/
Use ttest_ind() function from scipy.stats module to perform independent samples t-test
Perform separate t-tests for average distance and average duration
Compare p-values obtained from t-tests to 0.05 significance level
If p-value < 0.05, reject null hypothesis and conclude there is a statistically significant difference between sample means
If p-value >= 0.05, reject null hypothesis

In [31]:
#Compare rider avg duration and distance by membership (casual vs member)

member_avg_duration_distance = sample_filtered_df.groupby(['member_casual'])[['duration_seconds', 'distance']].mean()

print(member_avg_duration_distance)

               duration_seconds  distance
member_casual
casual               478.114994  2.081575
member               382.979280  1.795149

In [32]:
import numpy as np
from scipy import stats

In [33]:
#Compare rider avg duration and distance by rideable_type (classic_bike vs electric_bike)
type_avg_duration_distance = sample_filtered_df.groupby(['rideable_type'])[['duration_seconds', 'distance']].mean()

print(type_avg_duration_distance)

               duration_seconds  distance
rideable_type
classic_bike         405.766585  1.847624
electric_bike        330.175809  1.830141

In [34]:
# Compare avg ride duration between casual and member riders

# Filter into dataframe where member_casual is 'casual'
casual_duration = sample_filtered_df[sample_filtered_df['member_casual'] == 'casual']

# Filter into dataframe where member_casusal is 'member'
member_duration = sample_filtered_df[sample_filtered_df['member_casual'] == 'member']

# Perform independent t-test for duration_seconds
t_statistic_duration, p_value_duration = stats.ttest_ind(casual_duration['duration_seconds'], member_duration['duration_seconds'])

# Print results
print("Duration t-statistic:", t_statistic_duration)
print("Duration p-value:", p_value_duration)

Duration t-statistic: 4.91650352521324
Duration p-value: 8.812753097582611e-07

In [58]:
# Compare avg ride distance between casual and member riders

# Filter into dataframe where member_casual is 'casual'
casual_distance = sample_filtered_df[sample_filtered_df['member_casual'] == 'casual']

# Filter into dataframe where member_casusal is 'member'
member_distance = sample_filtered_df[sample_filtered_df['member_casual'] == 'member']

#Remove missing values from both samples
casual_distance = casual_distance.dropna(subset=['distance'])
member_distance = member_distance.dropna(subset=['distance'])

# Perform t-test for independent samples on distance
t_statistic_distance, p_value_distance = stats.ttest_ind(casual_distance['distance'], member_distance['distance'])

# Print results
print("Distance t-statistic:", t_statistic_distance)
print("Distance p-value:", p_value_distance)

#High t-stat and low p-stat imply that the average distance of the 'casual' riders
#is significantly different from the average distance of the 'member' riders

Distance t-statistic: 48.12108564764587
Distance p-value: 0.0

The t-tests strongly suggest that we can reject the Null Hypothesis. Differences in average duration and distance between casual and member riders are significant. On average, Casual riders spend longer on their bikes than Member riders, and travel longer distances.

In [36]:
#Compare ride avg duration between classic and electric bike rides

# Filter into dataframe where rideable_type is 'classic_bike'
classic_duration  = sample_filtered_df[sample_filtered_df['rideable_type'] == 'classic_bike']

# Filter into dataframe where rideable_type is 'electric_bike'
electric_duration = sample_filtered_df[sample_filtered_df['rideable_type'] == 'electric_bike']

#Remove missing values from both samples
classic_duration = classic_duration.dropna(subset=['duration_seconds'])
electric_duration = electric_duration.dropna(subset=['duration_seconds'])

# Check if there are any NaNs left
print("NaNs in sample classic", classic_duration['duration_seconds'].isnull().sum())
print("NaNs in sample electric:", electric_duration['duration_seconds'].isnull().sum())

# Perform t-test for independent samples on duration
t_statistic_duration, p_value_duration = stats.ttest_ind(classic_duration['duration_seconds'], electric_duration['duration_seconds'])

# Print results
print("Duration t-statistic:", t_statistic_duration)
print("Duration p-value:", p_value_duration)

NaNs in sample classic 0
NaNs in sample electric: 0
Duration t-statistic: 2.7113030978975474
Duration p-value: 0.0067021298762990926

In [37]:
#Compare ride avg distance between classic and electric bike rides

# Filter into dataframe where rideable_type is 'classic_bike'
classic_distance = sample_filtered_df[sample_filtered_df['rideable_type'] == 'classic_bike']

# Filter into dataframe where rideable_type is 'electric_bike'
electric_distance = sample_filtered_df[sample_filtered_df['rideable_type'] == 'electric_bike']

#Remove missing values from both samples
classic_distance = classic_distance.dropna(subset=['distance'])
electric_distance = electric_distance.dropna(subset=['distance'])

# Check if there are any NaNs left
print("NaNs in sample classic", classic_distance['distance'].isnull().sum())
print("NaNs in sample electric:", electric_distance['distance'].isnull().sum())

# Perform t-test for independent samples on duration
t_statistic_distance, p_value_distance = stats.ttest_ind(classic_distance['distance'], electric_distance['distance'])

# Print results
print("Distance t-statistic:", t_statistic_distance)
print("Distance p-value:", p_value_distance)

NaNs in sample classic 0
NaNs in sample electric: 0
Distance t-statistic: 2.050125380064668
Distance p-value: 0.04035264458882835

The t-tests suggest that we can reject the Null Hypothesis. Differences in distance and duration between classic_bike and electric_bike riders are significant. Classic bike riders spend longer on their bikes than Electric bike riders, on average. Also, Classic bike riders travel longer distances than Electric bike riders, on average.

Are there significant differences between number of rides originating by station between June (summer) and December (winter)?

In [38]:
#Count number of rides in dataframe 
print(len(sample_filtered_df))

581940

In [41]:
#Create new fields to concatenate starting Lat with starting Lng and ending Lat with ending Lng

# Concatenate the two fields and create a new field
sample_filtered_df['StartLatLongConcat'] = sample_filtered_df['start_lat'].astype(str) + ', ' + sample_filtered_df['start_lng'].astype(str)
sample_filtered_df['EndLatLongConcat'] = sample_filtered_df['end_lat'].astype(str) + ', ' + sample_filtered_df['end_lng'].astype(str)

In [53]:
#Replace Nan values with 0
sample_filtered_df.fillna(0, inplace=True)

In [54]:
#export sample_filtered_df to csv file to upload to Tableau
sample_filtered_df.to_csv('sample_filtered.csv', index=False)
file_path = './sample_filtered.csv'

In [55]:
# Group by 'start_station_id' and get counts
#station_counts = sample_filtered_df['start_station_id'].value_counts()

# Sort the counts in descending order
#station_counts = station_counts.sort_values(ascending=False)

# Select the top 10 stations
#top_10_stations = station_counts.head(10)

#print(top_10_stations)

start_station_id
6140.05    1453
6331.01    1181
6726.01    1175
6948.10    1169
5905.12    1135
5329.03    1120
5453.05    1119
6822.09    1115
5779.11    1106
6364.07    1095
Name: count, dtype: int64

In [56]:
# Group by 'start_station_id' and get counts
#station_counts = sample_filtered_df['end_station_id'].value_counts()

# Sort the counts in descending order
#station_counts = station_counts.sort_values(ascending=False)

# Select the top 10 stations
#top_10_stations = station_counts.head(10)

#print(top_10_stations)

end_station_id
6140.05    1873
6822.09    1728
6331.01    1581
5905.14    1525
6197.08    1504
5980.07    1502
6602.03    1490
6450.12    1450
6306.06    1441
6765.01    1402
Name: count, dtype: int64

In [52]:
#grouped_data =  sample_filtered_df.groupby('start_station_id')

#Use the size() function to count the number of instances each value appears:

#count_instances = grouped_data.size()

#sorted_counts = count_instances.sort_values(ascending=False)

#print(sorted_counts)

start_station_id
6140.05    1453
6331.01    1181
6726.01    1175
6948.10    1169
5905.12    1135
           ...
6451.07       1
5289.05       1
5321.08       1
5392.04       1
6810.01       1
Length: 4201, dtype: int64

In [ ]:
#column_names = df.columns
#print(column_names)

In [50]:
#Count unique Station IDs
#count = sample_filtered_df['start_station_id'].value_counts()
#print(count)

start_station_id
6140.05    1453
6331.01    1181
6726.01    1175
6948.10    1169
5905.12    1135
           ...
6374.05       1
3751.05       1
6451.07       1
6258.02       1
3157.08       1
Name: count, Length: 4201, dtype: int64